
.card {
    width: 350px;
    height: 500px;
    background-color: #1F2833;
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
    float: left;
    overflow: scroll;
    color: #C5C6C7;
    border-color: #45A29E;
    font-family: 'Dosis', sans-serif;
  }
  
#Vote-Up {
    color: red;
    cursor: pointer;
    float: left;
  }
  
#Vote-Down {
    padding: 1em;
    color: red;
    cursor: pointer;
  }

  span {
    cursor: pointer;   
  }