
.card {
    width: 350px;
    height: 600px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
    float: left;
    overflow: scroll;
  }
  
#Vote-Up {
    color: red;
    cursor: pointer;
    float: left;
  }
  
#Vote-Down {
    padding: 1em;
    color: red;
    cursor: pointer;
  }

  span {
    cursor: pointer;   
  }